In [1]:
# import pandas
import pandas as pd

In [2]:
# download file
from urllib.request import urlretrieve

from_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
urlretrieve(from_url,'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x7f076c5af110>)

In [3]:
covid_df = pd.read_csv('italy-covid-daywise.csv')
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [4]:
# check type
type(covid_df)

pandas.core.frame.DataFrame

In [5]:
# basic information
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [6]:
# view satistrical information
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [7]:
# columns in list
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [8]:
# get number of columns and rows as tupple
covid_df.shape

(248, 4)

In [9]:
# Retrieving data from a data frame

# access columns data
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [10]:
# also
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [11]:
# specific value(inefficient)
covid_df['new_cases'][245]

996.0

In [12]:
# effieient
covid_df.at[245,'new_cases']

996.0

In [13]:
# show subset of Dataframe
subset_covid = covid_df[['date', 'new_cases']]
subset_covid

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [14]:
# copy of DataFrame
covid_df_copy = covid_df.copy()
covid_df_copy

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [15]:
# access specific row
covid_df.loc[207]

date          2020-07-25
new_cases          252.0
new_deaths           5.0
new_tests        28059.0
Name: 207, dtype: object

In [16]:
covid_df.loc[209:230]

           date  new_cases  new_deaths  new_tests
209  2020-07-27      254.0         5.0    19374.0
210  2020-07-28      168.0         5.0    25341.0
211  2020-07-29      202.0        11.0    30875.0
212  2020-07-30      288.0         6.0    33396.0
213  2020-07-31      382.0         3.0    29686.0
214  2020-08-01      379.0         9.0    31905.0
215  2020-08-02      295.0         5.0    24496.0
216  2020-08-03      238.0         8.0    13467.0
217  2020-08-04      159.0        12.0    23491.0
218  2020-08-05      190.0         5.0    29739.0
219  2020-08-06      384.0        10.0    32169.0
220  2020-08-07      401.0         6.0    30392.0
221  2020-08-08      552.0         3.0    26631.0
222  2020-08-09      347.0        13.0    22773.0
223  2020-08-10      463.0         2.0    10904.0
224  2020-08-11      259.0         4.0    22063.0
225  2020-08-12      412.0         6.0    27330.0
226  2020-08-13      476.0        10.0    25629.0
227  2020-08-14      522.0         6.0    24868.0
228  2020-08-15      574.0         3.0    25937.0
229  2020-08-16      629.0       158.0    22470.0
230  2020-08-17      477.0         4.0    21379.0

In [17]:
# head and tail dataframe
covid_df.head(5)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [18]:
covid_df.tail(4)

           date  new_cases  new_deaths  new_tests
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [19]:
# check valid index
covid_df.new_tests.first_valid_index()

111

In [20]:
# randomly

In [22]:
# Quering and sorting

# Query
df_query = covid_df[covid_df.new_cases >1000]
df_query

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [26]:
# Sorting
# if want reverse = df_query.sort_values('new_cases', ascending = False) 
sort_value = df_query.sort_values('new_cases')
sort_value

           date  new_cases  new_deaths  new_tests
236  2020-08-23     1071.0         3.0    47463.0
127  2020-05-06     1075.0       236.0    37771.0
131  2020-05-10     1083.0       194.0    31384.0
237  2020-08-24     1209.0         7.0    33358.0
126  2020-05-05     1221.0       195.0    32211.0
..          ...        ...         ...        ...
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
81   2020-03-21     5986.0       625.0        NaN
87   2020-03-27     6153.0       660.0        NaN
82   2020-03-22     6557.0       795.0        NaN

[72 rows x 4 columns]

In [ ]:
# Display more row
from IPython.display import display
with pd.option_context('display.max_rows',100):
    display()